<div id="distinct-values" name="distinct-values" class="col-md-9">
  <h3>Distinct Values</h3>
  <p>
     Query for distinct values (text columns only):
     <pre><%= root_url %>api/projects/<%= @project.id %>/tables/[table_name]/columns/[column_name]/distinct</pre>

    Results are paged. See <a href="#paging-data">paging</a>.
  </p>

  <br /><br />
</div>
