<div id="datatables-info" name="datatables-info" class="col-md-9">
  <h3><a id="datatables-info-h" class="anchor" href="#datatables-info" aria-hidden="true"></a>DataTables</h3>
  <p>
    The API is capable of responding to requests from the <a href="http://www.datatables.net">DataTables</a> front-end javascript library.

    <br />Note: DataTables AJAX requests to this API must use the POST HTTP method.
  </p>

  <br /><br />
</div>
