<h3>Project Details</h3>
<table class="table">
  <tbody>
    <tr>
      <td><strong>ID</strong></td>
      <td><%= @project.id %></td>
    </tr>
    <tr>
      <td><strong>Name</strong></td>
      <td><%= @project.name %></td>
    </tr>
    <tr>
      <td><strong>Description</strong></td>
      <td><%= @project.description %></td>
    </tr>
  </tbody>
</table>
