<% provide(:title, 'Edit Project') %>

<div class="col-md-9">

  <h3>Edit Project</h3>

  <%= render :partial => 'form' %>

  <% if user_signed_in? %>
    <%= render :partial => 'upload_project_files' %>
  <% end %>
</div>