<% provide(:title, 'API Key') %>

<table class="table">
  <thead>
    <th>Description</th>
    <th>Key</th>
    <th> </th>
  </thead>
  <tr>
    <td><%= @key.description %></td>
    <td><%= @key.token %></td>
  </tr>
</table>
