<footer class="footer">
  <!--<small>
    A <a href="#">link</a>
    to nothing and another<a href="#"> one </a>for good measure
  </small>-->
  <nav>
    <ul>
      <!--<li><%= link_to "About",   '#' %></li>-->
      <!--<li><%= link_to "Contact", '#' %></li>-->
    </ul>
  </nav>
</footer>